In [1]:
import pandas as pd

df1 = pd.read_csv('01_Data.csv')

# Mission2.

### df1 데이터로 아래와 같은 분석을 수행하고자 한다. 

1) 유입경로(Channel)에서 '영업방판'으로 유입된 고객들을 분석하고자 한다.  

    - '영업방판'으로 유입된 고객들의 월랜탈비용(Amount_Month)의 평균과 중앙값의 차이를 계산하시오

In [2]:
cond1 = (df1['Channel'] == '영업방판')
df_prob1 = df1.loc[cond1]
prob1 = df_prob1.Amount_Month.mean() - df_prob1.Amount_Month.median()
prob1

3422.794631211349

2) 유입경로(Channel)에서 '영업방판'으로 유입된 고객들 중, 제품군(Product_Type)별 월랜탈비용(Amount_Month)의 합을 계산하여 result5.xlsx로 저장

In [3]:
cond1 = (df1['Channel'] == '영업방판')
df_prob2 = df1.loc[cond1]
prob2 = df_prob2.groupby(df_prob2['Product_Type']).Amount_Month.mean()
prob2

Product_Type
DES-1     101339.833123
DES-2      91751.920181
DES-3A     93575.342466
DES-R4    130278.461538
ERA       120908.272059
MMC       190144.444444
Name: Amount_Month, dtype: float64

3) 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 고객명단을 추출하여 result6.xlsx로 저장

In [4]:
cond1 = (df1['Channel'] == '대형마트A')
df_prob3 = df1.loc[cond1].sort_values(by='Overdue_count', ascending = False)
df_prob3.head(30).to_excel('result6.xlsx')

4) 월랜탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 연속형 기술통계량 확인

In [5]:
cond1 = (df1['Amount_Month'] >= 150000)
cond2 = (df1['Sales_Type'] == '렌탈')
df_prob4 = df1.loc[cond1 & cond2]
df_prob4.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,141.000000,1.410000e+02,141.000000,141.000000,104.000000,141.000000,91.000000
mean,31970.134752,5.425034e+07,40.595745,186841.489362,50.336538,2.134752,4.989011
std,15212.567527,1.894440e+07,5.984478,11608.817396,12.035232,4.209207,2.306968
min,206.000000,2.570414e+07,36.000000,151200.000000,28.000000,0.000000,1.000000
25%,20111.000000,2.577782e+07,39.000000,185700.000000,41.000000,0.000000,4.000000
50%,36690.000000,6.676577e+07,39.000000,185700.000000,51.000000,0.000000,6.000000
75%,44319.000000,6.678915e+07,39.000000,185700.000000,58.000000,1.000000,7.000000
max,51189.000000,6.696170e+07,60.000000,215700.000000,83.000000,13.000000,9.000000

5) 제품군(Product_Type)중 빈도수가 가장 높은 상위 3개 항목을 추출하여, df5로 선언한뒤, 계약일자(Datetime)에 따른 월랜탈비용의 합을 계산해 result7.xlsx로 저장

In [6]:
df_count = df1.groupby(df1['Product_Type']).count()
df_index = df_count.sort_values(by='Index', ascending = False).head(3).index.to_list()
cond1 = (df1['Product_Type'].isin(df_index))
df5 = df1.loc[cond1]
df5.groupby(df5['Datetime']).Amount_Month.sum().to_excel('result7.xlsx')

In [7]:
# 풀이
order_list = df1['Product_Type'].value_counts().index.tolist()
cond1 = df1['Product_Type'].isin(order_list[0:3])
df5 = df1.loc[cond1]

In [8]:
df5.pivot_table(index='Datetime', values='Amount_Month',
                aggfunc='sum').to_excel('result7.xlsx')

6) 납부유형(Payment_Type)에서 'CMS'에 해당하는 데이터들을 추출하여 df6로 선언하고, df6에서 성별(Gender)에 따른 연체건수(Overdue_count)값의 평균을 계산

In [9]:
cond1 = (df1['Payment_Type'] == 'CMS')
df6 = df1.loc[cond1]
df6.pivot_table(index='Gender', values='Overdue_count', aggfunc='mean')

        Overdue_count
Gender
남자           0.297295
여자           0.193136

7)  (복습문제) 연도를 입력하면 띠를 출력하는 프로그램을 함수로 생성 (if 문 금지)

In [10]:
year = input('년도를 입력해주세요 : ')

year_decide = str((int(year) + 8) % 12)

year_name = ['쥐띠', '소띠', '호랑이띠', '토끼띠', '용띠', '뱀띠', 
             '말띠', '양띠', '원숭이띠', '닭띠', '개띠', '돼지띠']
year_dict = {str(i) : name for i, name in enumerate(year_name)}

print(year_dict.get(year_decide))

년도를 입력해주세요 : 2000
용띠

In [11]:
# 풀이
year1 = int(input('연도를 입력하시오 : '))
dict1 = { 0:'원숭이 띠', 1:'닭띠', 2:'개띠', 3: '돼지띠', 
         4:'쥐띠', 5:'소띠',6:'범띠', 7:'토끼띠', 8:'용띠',
         9:'뱀띠', 10:'말띠', 11:'양띠'}
dict1[year1%12]

연도를 입력하시오 : 2000

'용띠'